{% extends "base.html" %} 
{%loads static}

{% block title %}Car Detail{% endblock title %} 

{% block content %}
<br>
<br>

		<h1 class="card-title">
			{{car.make}} - {{car.model}}
			<small class="card-text">
				{{car.year}}
			</small>
		</h1>
		{% if car.car_img %}
		<p><img class="card-img" src="{{car.car_img.url}}" style="width:500px"></p>
		{% endif %}
		<a href="{% url 'car-update' car.id %}">
        <button type="button" class="btn btn-dark">Update</button>
    	</a>
    	<a href="{% url 'car-delete' car.id %}">
        <button type="button" class="btn btn-danger">Delete</button>
        </a>

{% endblock content %}

