{% extends "base.html" %}

{% block title %}Car List{% endblock title %}

{% block content %}
<br>
<div class="row">
	{% for car in cars %}
		<div class="col-sm-4">

			<div class="card" style="width: 18rem;">
				{% if car.car_img %}
				<img class="card-img-top" src= "{{car.car_img.url}}" alt="Car">
				{% endif %}
  					<div class="card-body">
  						<h1>
						<h5 class="card-title">{{car.make}} - {{car.model}}</h5>
						<p class="card-text"> <small > {{car.year}} </small></p>
						</h1>
						<a href="{{car.get_absolute_url}}">View</a>
  					</div>
				

			</div>
		<!-- <hr> -->
		</div>
	{% endfor %}
</div>

{% endblock content %}