{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}
<br>
<div class="card bg-transparent mx-auto text-black border-dark" style="width: 18rem;">
	<br>

	<form class="form-inline"action="{% url 'car-update' car_obj.id %}" method="POST" enctype="multipart/form-data">
		<div class="col-md-4 mb-3">
	  	{% csrf_token %}
	  	{{form|crispy}}
	  	<br>
	  	<input class="mx-auto btn btn-dark btn-lg" type="submit" value="Update">
	</form>
</div>
</div>
{% endblock content %}




